body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    height: auto;
    width: 100%;
    
}
.carousel-item img{
    height: auto;
    width: 100%;
    
}

.carousel-control-prev{
    height: 15%;
    top: 50% !important;
    


}
.carousel-control-next{
    height: 15%;
    top: 50% !important;
    


}


header {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    color: black;
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
}

.header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;

}

.menu_txt {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.header_logo img {
    width: 80px;
}

.header .iconify {
    width: 30px;
    height: auto;
}

.header_close {
    display: flex;
    align-items: center;
}

.header_menu {
    /* border: 2px solid green; */
    width: 15%;
    display: flex;
    justify-content: space-around;

}
.icons_menu{
    color: white;

}



/* TEST */
.offcanvas-bottom {
    height: 88%;
    background-color: black;

}

.btn-close {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2036%2036%22%3E%3Cpath%20class%3D%22clr-i-outline%20clr-i-outline-path-1%22%20d%3D%22M19.41%2018l8.29-8.29a1%201%200%200%200-1.41-1.41L18%2016.59l-8.29-8.3a1%201%200%200%200-1.42%201.42l8.3%208.29l-8.3%208.29A1%201%200%201%200%209.7%2027.7l8.3-8.29l8.29%208.29a1%201%200%200%200%201.41-1.41z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E') center/2em currentcolor;

}

.offcanvas-header{
    
    padding-left: 7%;
    /* border: 2px solid red; */
}
.offcanvas-body{

    padding-left: 50px;
    display: flex;
    justify-content: space-around;
}
#dropdownMenuButton1{
    color: white;
    font-weight: bold;
    font-size: 26px;
}
#dropdownMenuButton1:focus{
    background-color: #00C9FF;
    color: black;
}
.dropdown-menu{
    color: white;
    background-color: black;
}
.dropdown-item{
    color: white;
    width: 5px;
    font-size: 20px;
    margin-top: 20px;

}
.dropdown-item:hover{
    background-color: #00C9FF;
    color: black;
    width: auto;

}

