body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: white;
    color: black;
}

.header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;

}

.header_logo img {
    width: 80px;
}

.header .iconify {
    width: 30px;
    height: auto;
}

.header_close {
    display: flex;
    align-items: center;
}

.header_menu {
    /* border: 2px solid green; */
    width: 10%;
    display: flex;
    justify-content: space-around;
}

body{
    background-color: black;
}