body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    height: auto;
    width: 100%;
    
}
.carousel-item img{
    height: auto;
    width: 100%;
    
}

.carousel-control-prev{
    height: 15%;
    top: 50% !important;
    


}
.carousel-control-next{
    height: 15%;
    top: 50% !important;
    


}
