.recherche{
    position: relative!important;
    display: block!important;
    text-align: center!important;
    top : 100px!important;
    left : 500px!important;
    padding: 30px!important;
    padding-bottom: 30px!important;
}
.afficher_produit{
    position: relative!important;
    display: block!important;
    text-align: center!important;
    top: 150px !important;

}

.barre{
    border-radius: 30px!important;
    height : 50px!important;
    border-color: blue !important;
    width: 400px!important;
}

.bouton_recherche{
    border-radius: 20px!important;
    background-color: white!important;
    width: 100px!important;
    height: 30px!important;

}