.recherche{
    position: relative;
    display: block;
    text-align: center;
    top : 100px;
}
.afficher_produit{
    position: relative;

    display: block;
    text-align: center;
    top: 150px;
}

.barre{
    border-radius: 30px;
    height : 50px;
    border-color: #0a0a0a;
    width: 400px;
}

.bouton{
    border-radius: 20px;
    background-color: lightgrey;
}