@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');



.faq_conteneur{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    background: lightgrey;
}

.container_faq{
    margin:20px auto;
    max-width: 700px;
}

.container_faq .heading{
    text-align: center;
    font-size: 30px;
    padding:20px;
    margin-bottom: 20px;
}

.container_faq .accordion-container_faq{
    padding:0 20px;
}

.container_faq .accordion-container .accordion{
    margin-bottom: 20px;
    cursor: pointer;
}

.container_faq .accordion-container .accordion.active .accordion-heading{
    background: black;
}

.container_faq .accordion-container .accordion.active .accordion-heading h3{
    color:#fff;
}

.container_faq .accordion-container .accordion.active .accordion-heading i{
    color:#fff;
    transform: rotate(180deg);
    transition: transform .2s .1s;
}

.container_faq .accordion-container .accordion.active .accordion-content{
    display: block;
}

.container_faq .accordion-container .accordion .accordion-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    background: #fff;
    border:2px solid #000;
    padding:15px 20px;
}

.container_faq .accordion-container .accordion .accordion-heading h3{
    font-size: 18px;
}

.container_faq .accordion-container .accordion .accordion-heading i{
    font-size: 25px;
}

.container_faq .accordion-container .accordion .accordion-content{
    padding:15px 20px;
    border:2px solid #000;
    font-size: 15px;
    background: #fff;
    border-top: 0;
    display: none;
    animation: animate .2s linear backwards;
    line-height: 2;
    transform-origin: top;
}

@keyframes animate {
    0%{
        transform: scaleY(0);
    }
}