body{
    background: grey;
}
#container_livraison{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
.form_livraison {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#bloc1 h1{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.input_livraison[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}

.label_livraison{
    color: white;
}