.img_panier img{
  max-width: 200px;

}

.block_panier{
  background-color: red;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.block_panier_mid{
  width: 70%;
  background-color: grey;
}

.tableau1{
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: flex;
width: 100%;
}

.tableau1 div{
  border: solid 1px black;

}

.nom_produit{
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.quantité_produit, .delete, .prix_produit{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prix_tva{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nom_produit span{
  margin-left: 30px
}