
.vertical {
    border-left: 4px solid black;
    height: 400px;
    display: inline-block;
    position: relative;
    left : 900px;
    justify-content: right;
}

.couleur_validation{
    background-color: lightgray;
}

.bouton{
    background-color: #F9FFA9;
    border-radius: 0 0 10% 10%;
}
.titre_validation{
    font-family: Helvetica, sans-serif;
}